[user]
	email = ryan@ryanchipman.com
	name = Ryan Chipman
[color]
	ui = true
[alias]
	ci = commit
	co = checkout
	br = branch
	lc = log ORIG_HEAD.. --stat --no-merges
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	fixup = commit --fixup
	amend = commit --amend
	st = status
	ri = rebase --interactive --autosquash
	rbc = rebase --continue
	addp = add -p
	re = rerere
	diffc = diff --cached
[rerere]
	enabled = true
[push]
	default = simple
