[alias]
    aa = add --all --intent-to-add
	addp = add -p
	amend = commit --amend
	br = branch
	ci = commit
	co = checkout
    cp = cherry-pick
    dangling = ! git lg $(git fsck --no-reflog | awk '/dangling commit/ {print $3}')
	diffc = diff --cached
	fixup = commit --fixup
	lc = log ORIG_HEAD.. --stat --no-merges
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    rba = rebase --abort
	rbc = rebase --continue
    redate = ! git rebase origin/master --exec 'GIT_COMMITTER_DATE="$(date -R)" git amend --date="$(date -R)"'
	ri = rebase --interactive --autosquash
	st = status
[color]
	ui = true
[core]
	excludesfile = ~/.config/git/ignore
[merge]
    ff = only
[push]
	default = simple
[rerere]
	enabled = true
[user]
	email = ryan@ryanchipman.com
	name = Ryan Chipman
