**/*.log
nvim/.config/nvim/autoload/vim-plug/*
vim/.vim/autoload/vim-plug/*
vim/.vim/.netrwhist
vim/.vim/viminfo
nvim/.config/nvim/shada
transmission/.config/transmission/blocklists
transmission/.config/transmission/torrents
transmission/.config/transmission/resume
transmission/.config/transmission/stats.json
mongodb/bin/mongodb/evergreen
emacs/.emacs.d/elpa
emacs/.emacs.d/bookmarks
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/tramp